.Head {
  background-color: #eeeeee;
  height: 10rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.Container {
  grid-column: start-content/end-content;
  grid-row: start-content/end-content;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 10rem;
}

.SpinnerContainer {
  background-color: white;
  padding: 5rem;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.TotalPriceContainer {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min-content;
  margin-bottom: 2rem;
  align-self: flex-end;
  background-color: #dde1ed;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 1rem;
  position: relative;
}

.EmptyCart {
  height: 20rem;
  width: 50%;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  align-self: center;
  padding: 1rem;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Price {
  align-self: center;
  font-family: "Nunito", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 2rem;
}

.ButtonCheckout {
  background-color: #5b7bf4;
  width: 20rem;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .Head {
    margin-left: -2rem;
  }

  .Container {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .TotalPriceContainer {
    width: 100%;
  }

  .EmptyCart {
    width: 100%;
  }
}
