.Message {
  color: red;
  text-align: center;
  margin: 1rem 0;
  height: 3.5rem;
  line-height: 1.5rem;
}

.ButtonOk {
  background-color: #5b7bf4;
  width: 20rem;
}

.ButtonCancel {
  border: 1px solid #5b7bf4;
  color: #5b7bf4;
  width: 20rem;
  background-color: white;
}
