.LoginContainer {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
  height: 3.4rem;
  text-align: center;
  line-height: 3.4rem;
  box-shadow: 10px 10px 60px -14px rgba(0, 0, 0, 0.75);
}

.Login {
  display: inline-block;
  background-color: #5b7bf4;
  border-radius: 10px;
  width: 8rem;
  transition: all 0.2s;
}

.Login:active {
  transform: scale(0.95);
}
