.DiscoverContainer {
  grid-column: start-content/end-content;
  position: relative;
  background-color: #dde1ed;
  border-radius: 20px;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  align-items: center;

  height: min-content;
  padding: 2rem 0;
}

.NameContainer {
  position: absolute;
  display: flex;
  top: 1rem;
  left: 2rem;
}

.ProductsContainer {
  display: flex;
  margin-top: 2rem;
}

.Name {
  font-family: "Nunito";
  font-size: 2rem;
  color: rgb(50, 50, 50);
  margin-right: 0.5rem;
}

.DiscoverIcon {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 700px) {
  .ProductsContainer {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
    justify-content: center;
  }
}
