.CartContainer {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  line-height: 3.4rem;
  height: 3.4rem;
  box-shadow: 10px 10px 60px -14px rgba(0, 0, 0, 0.75);
}

.Bag {
  background-color: #5b7bf4;
  height: 3.4rem;
  width: 3.5rem;
  border-radius: 10px;
  transition: all 0.2s;
  padding: 0.3rem;
}

.Bag:active {
  transform: scale(0.95);
}
