.CartContainer {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  height: 3.4rem;
  box-shadow: 10px 10px 60px -14px rgba(0, 0, 0, 0.75);
}

.Bag {
  background-color: #5b7bf4;
  height: 3.4rem;
  width: 3.5rem;
  border-radius: 10px;
  transition: all 0.2s;
  padding: 0.3rem;
}

.Bag:active {
  transform: scale(0.95);
}

.MenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 3rem;
  font-weight: 400;
  color: black;
  padding: 2rem;
  position: relative;
  outline: none;
  padding-right: 3rem;
}

.MenuItem:hover {
  background-color: #dde1ed;
  border-radius: 5px;
}

.MenuItemNoHover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 3rem;
  font-weight: 400;
  color: black;
  padding: 2rem;
  position: relative;
  outline: none;
  padding-right: 3rem;
}

.Number {
  color: white;
  background-color: #5b7bf4;
  min-width: 3rem;
  text-align: center;
  border-radius: 5px;
  margin-right: 1rem;
}
