.Background {
  grid-column: start-footer/end-footer;
  background-color: #eeeeee;
  width: 100%;
  height: calc(100vh - 17rem);
  margin-bottom: -4rem;
}

.FormContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  padding: 4rem;
  margin: 4rem auto;
  border-radius: 15px;
  max-width: 28rem;
  height: min-content;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .Background {
    grid-column: start-content/end-content;
    height: calc(100vh - 10rem);
    margin-left: -2rem;
    width: calc(100% + 4rem);
  }
}
