.Background {
  background-color: #eeeeee;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.FormContainer {
  grid-column: start-content/end-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  padding: 4rem;
  margin: 4rem auto;

  border-radius: 15px;
  max-width: 28rem;
  height: min-content;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .Background {
    margin-left: -2rem;
  }
}
