.MyAccountContainer {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-align: center;
  box-shadow: 10px 10px 60px -14px rgba(0, 0, 0, 0.75);
  height: 3.4rem;
}

.MyAccount {
  line-height: 3.4rem;
  vertical-align: top;
  display: inline-block;
  background-color: #5b7bf4;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 10rem;
  transition: all 0.2s;
  height: 100%;
}

.MyAccount:active {
  transform: scale(0.95);
}

.Bell {
  cursor: pointer;
  background-color: #5b7bf4;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 2.5rem;
  height: 3.4rem;
  margin-left: 2px;
  transition: all 0.2s;
  padding: 0.4rem;
}

.Bell:active {
  transform: scale(0.95);
}

.Logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  font-weight: 400;
  color: black;
  padding: 2rem;
}

.Logout:hover {
  background-color: #dde1ed;
  border-radius: 5px;
}
