.ButtonGeneral {
  height: 3rem;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

.ButtonGeneral:active {
  transform: scale(0.96);
}

.ButtonGeneral:focus {
  outline: none;
}
