.ButtonGeneral {
  background-color: #5b7bf4;
  height: 3rem;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

.Disabled {
  background-color: grey;
}

.Inverted {
  border: 1px solid #5b7bf4;
  color: #5b7bf4;
  background-color: white;
}

.ButtonGeneral:active {
  transform: scale(0.96);
}

.ButtonGeneral:focus {
  outline: none;
}
