.Head {
  background-color: #eeeeee;
  height: 10rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.Container {
  grid-column: start-content/end-content;
  grid-row: start-content/end-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 0 10rem;
}

.Section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  background-color: white;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  padding: 1rem 1rem;
  padding-top: 3rem;
  position: relative;
  margin: 1rem;
}

.Title {
  position: absolute;
  left: 5rem;
  top: 1rem;
}

.ButtonEdit {
  position: absolute;
  top: 1rem;
  left: 18rem;
  width: 5rem;
  height: 2.5rem;
  border: 1px solid #5b7bf4;
  color: #5b7bf4;
  background-color: white;
}

.ButtonOk {
  position: absolute;
  top: 1rem;
  left: 18rem;
  width: 5rem;
  height: 2.5rem;
  background-color: #5b7bf4;
}

.ButtonsContainer {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 8rem;
}

.Button {
  width: 20rem;
  background-color: #5b7bf4;
  margin: 3rem 5rem;
}

.Message {
  color: red;
  text-align: center;
  margin-top: 1rem;
  height: 3.5rem;
  line-height: 1.5rem;
}

.PersonalInfoContainer {
  min-width: 30rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.AddressContainer {
  min-width: 30rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.Text {
  height: 3rem;
  line-height: 3rem;
}

@media screen and (max-width: 1000px) {
  .Head {
    margin-left: -2rem;
  }
}
