.NewArrivalsContainer {
  background-color: #dde1ed;
  border-radius: 20px;
  display: flex;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  align-items: center;

  height: min-content;
  padding: 1rem 0;
}

.NewIcon {
  width: 12rem;
  height: 12rem;
  position: absolute;
  transform: rotate(20deg);
  top: 0;
  right: 0;
  z-index: 1;
}

.Curve {
  position: absolute;
  bottom: 0;
  width: 150%;
  height: 70%;
  transform: rotate(180deg);
  z-index: 1;
}

.Curve2 {
  position: absolute;
  bottom: 0;
  width: 150%;
  height: 90%;
  transform: rotate(180deg);
}

.Title {
  font-family: "Amatic SC", cursive;
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
  margin-top: auto;
  color: white;
  font-weight: 700;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .NewIcon {
    width: 7rem;
    height: 7rem;
  }

  .NewArrivalsContainer {
    flex-wrap: wrap;
    padding: 1rem 1rem;
    justify-content: center;
  }
}
