.Button {
  background-color: #5b7bf4;
  width: 20rem;
}

.ButtonDisabled {
  background-color: grey;
  width: 20rem;
}

.ButtonDisabled:active {
  transform: scale(1);
}

.Message {
  color: red;
  text-align: center;
  margin: 1rem 0;
  height: 3.5rem;
  line-height: 1.5rem;
}
