.Background {
  grid-column: start-footer/end-footer;
  margin-top: -10px;
  margin-bottom: -10px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 18rem);
}

.FormContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  padding: 4rem;
  margin: 4rem;
  border-radius: 15px;
  height: 40rem;
}

.Message {
  color: red;
  text-align: center;
  margin: 1rem 0;
  height: 3.5rem;
  line-height: 1.5rem;
}

.checkMail {
  color: #5b7bf4;
  width: 20rem;
  text-align: center;
  border-bottom: 1px solid #5b7bf4;
  line-height: 3rem;
  font-weight: 700;
}

.Button {
  background-color: #5b7bf4;
  width: 20rem;
}
.ButtonDisabled {
  background-color: grey;
  width: 20rem;
}

.ButtonDisabled:active {
  transform: scale(1);
}
