.Message {
  color: red;
  text-align: center;
  margin: 1rem 0;
  height: 3.5rem;
  line-height: 1.5rem;
}

.checkMail {
  color: #5b7bf4;
  width: 20rem;
  text-align: center;
  border-bottom: 1px solid #5b7bf4;
  line-height: 3rem;
  font-weight: 700;
}
