.Head {
  background-color: #eeeeee;
  height: 10rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.Container {
  grid-column: start-content/end-content;
  grid-row: start-content/end-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  min-height: calc(100vh - 17rem);
}

.SpinnerContainer {
  background-color: white;
  border-radius: 10px;
  padding: 5rem;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
}

.NoOrders {
  height: 20rem;
  width: 50%;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  align-self: center;
  padding: 1rem;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .Head {
    margin-left: -2rem;
  }
}
