.Head {
  margin-top: -1rem;
  grid-column: start-footer/end-footer;
  grid-row: start-content/end-content;
  background-color: #eeeeee;
  height: 10rem;
  width: 100%;
}

.Container {
  grid-column: start-name/end-content;
  grid-row: start-content/end-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.SpinnerContainer {
  background-color: white;
  border-radius: 10px;
  padding: 5rem;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
}

.NoOrders {
  height: 20rem;
  width: 50%;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  align-self: center;
  padding: 1rem;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
