.Head {
  background-color: #eeeeee;
  height: 10rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.Container {
  grid-column: start-content/end-content;
  grid-row: start-content/end-content;
  display: flex;
  padding-top: 3rem;
}

.Categories {
  min-width: 15rem;
  background-color: white;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.75);
  text-align: center;
  height: min-content;
  margin-top: 1rem;
}

.List {
  list-style: none;
}

.List > li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.Item {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 5rem;
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  text-decoration: none;
  position: relative;
}

.Item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #5b7bf4;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
}

.Item:hover::after {
  width: 100%;
  opacity: 0.5;
}

.Item_active {
  position: relative;
  font-weight: 700;
}

.Item_active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #5b7bf4;
  bottom: 0;
  left: 0;
}

.Products {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .Head {
    margin-left: -2rem;
  }
}

@media screen and (max-width: 700px) {
  .Container {
    flex-direction: column;
  }

  .List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .Products {
    margin-top: 1rem;
  }
}
