.FormContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;
}

.Message {
  text-align: center;
  margin: -1.5rem 0;
  line-height: 3.5rem;
}

.ButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ButtonChange {
  width: 13rem;
  background-color: #5b7bf4;
}

.ButtonCancel {
  width: 8rem;
  background-color: #5b7bf4;
}
