.CardContainer {
  background-color: white;
  height: 23rem;
  width: 20rem;
  flex-shrink: 0;
  box-shadow: 10px 10px 60px -40px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .CardContainer {
    height: 10rem;

    width: calc(100% - 2rem);
    margin: 1rem;
  }
}
