.Item {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(100, 100, 100);
  list-style: none;
}

.Link {
  text-decoration: none;
  transition: all 0.2s;
  color: rgb(50, 50, 50);
}
