.SignUpContainer {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  box-shadow: 10px 10px 60px -14px rgba(0, 0, 0, 0.75);
}

.SignUp {
  display: inline-block;
  background-color: #dde1ed;
  border-radius: 10px;
  width: 8rem;
  transition: all 0.2s;
  color: #5b7bf4;
  border: 1px solid #5b7bf4;
}

.SignUp:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1000px) {
  .SignUp {
    width: 6rem;
  }
}
