.Container {
  width: 100%;
  display: grid;

  grid-template:
    [start-content] 1fr [end-content] /
    [start-footer] 2vw [start-content] minmax(0, 1fr)
    [end-content] 2vw [end-footer];

  gap: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1000px) {
  .Container {
    grid-template:
      [start-content] 1fr [end-content] /
      [start-content] minmax(0, 1fr)
      [end-content];

    padding-left: 2rem;
    padding-right: 2rem;
  }
}
