.ComponentContainer {
  width: 100%;
  position: relative;
}

.SliderContainer {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  gap: 2rem;
}

.SliderContainer > :first-child {
  margin-left: 2rem;
}
.SliderContainer > :last-child {
  position: relative;
}

.SliderContainer > :last-child::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -2rem;
}

.SliderContainer::-webkit-scrollbar {
  display: none;
}

.PrevArrowContainer {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #5b7bf4;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.NextArrowContainer {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #5b7bf4;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.NextArrow {
  width: 2rem;
  height: 2rem;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  background-color: white;
}

.PrevArrow {
  width: 2rem;
  height: 2rem;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  background-color: white;
}

.ComponentContainer:hover .NextArrowContainer {
  opacity: 1;
}

.ComponentContainer:hover .PrevArrowContainer {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .SliderContainer {
    overflow-x: auto;
  }
}
