.ImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.Image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.Info {
  min-width: 40%;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5rem;
  border-left: 1px solid #dde1ed;
}

.Price {
  font-size: 1.5rem;
}

.ButtonsContainer {
  display: flex;
}

.ButtonAdd {
  background-color: #5b7bf4;
  width: 4rem;
  margin-top: 2rem;
  margin: 0 auto;
}

.ButtonRemove {
  background-color: #5b7bf4;
  width: 4rem;
  margin-top: 2rem;
  margin: 0 auto;
}

.ButtonAddCart {
  background-color: #5b7bf4;
  width: 8rem;
  margin-top: 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .ButtonAdd {
    width: 3rem;
  }

  .ButtonRemove {
    width: 3rem;
  }

  .ButtonAddCart {
    width: 6rem;
  }
}
