.Content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55rem;
  height: 30rem;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 10px 10px 60px -14px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  display: flex;
}

@media screen and (max-width: 700px) {
  .Content {
    width: 90%;
    height: 20rem;
  }
}
