.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBarContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.SearchBar {
  border: none;
  border-radius: 10px;
  height: 4rem;
  padding-left: 1rem;
  width: 100%;
}

.SearchBar:focus {
  outline: none;
}

.SuggestionContainer {
  position: absolute;
  top: 5rem;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.Suggestion {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
}

.Suggestion::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background-color: #eeeeee;
  transform: translateX(-50%);
  left: 50%;
  bottom: -0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Suggestion:hover {
  background-color: #dde1ed;
  border-radius: 5px;
}

.Button {
  position: absolute;
  right: 0;
  margin-right: 0.2rem;
  height: 3.5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .Button {
    width: 4rem;
  }
}
